@import './modules/icons';
@import './modules/perks-flaws';
@import './modules/data-brackets';
@import './modules/fonts';

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

h4.bold {
  border-color: black !important;
  border-bottom-width: 3px !important;
  border-left-width: 2px !important;
}

/**
 * Firefox specific rule
 */

@-moz-document url-prefix() {
  body {
    font-weight: lighter;
  }
}

.qs-sep {
  font-weight: bold;
  font-style: normal;

  &,
  & + * {
    padding-top: 5px;
  }
}

a[href*="example-"] {
  display: none;
}

.admonition-title a {
  font-weight: 700;
}

@media only screen and (min-width: 76.25em) {
  .md-tabs--active~.md-main .md-nav--primary>.md-nav__list>.md-nav__item--nested {
    display: block;
  }
}

nav.md-nav--primary > ul.md-nav__list > li:not(:first-child) {
  padding-top: 2rem;
}

.md-header-nav__button.md-logo {
  margin: 0;
}

.md-typeset dd {
  margin: 0.1em 0 0.2em 1.875em;
}

@media only screen and (max-width: 60em)  {
  .is-mobile {
    display: none;
  }
}

@media only screen and (min-width: 50em)  {
  .left,
  .right {
    float: left;
    width: 50%;
  }
  .left {
    padding-right: 2%;
  }

  .right {
    padding-left: 2%;

    & + * {
      clear: both;
    }
  }

  .cols-wrapper {
    float: left;
    width: 50%;

    > section {
      padding-right: 2%;
      z-index: 1;
      overflow: hidden;
      position: relative;
    }
      //   column-count: 2;
  //   column-gap: 25px;

  //   & > div {
  //     display: inline-block;
  //     width: 100%;
  //     -webkit-column-break-inside: avoid;
  //     page-break-inside: avoid;
  //     break-inside: avoid;
  //   }
  }
  // .cols-wrapper-right {
  // }
}

.clearfix {
  clear: both;
}

.tag {
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  background-color: #3f51b5;
  border-radius: 2px;
  font-style: normal;
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 4px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1[id]:target:before {
  margin-top: -5.8rem;
  padding-top: 5.8rem;
}
h1[id]:before {
  display: block;
  margin-top: -.8rem;
  padding-top: .8rem;
  content: "";
}


.md-typeset:not(.md-search-result__item) {
  strong.hf {
    /* header-font */
    font-family: 'Zag';
    letter-spacing: 1px;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Zag';
    letter-spacing: 2px;
    padding-left: 0;
    font-weight: normal;
  }

  h4:not(.dt) {
    &:before {
      content: "\2B21";
      padding: 0 10px;
      display: inline-block;
    }
  }

  // h4:not(.dt) {
  //   // border-top: 2px solid grey;
  //   border-bottom: 2px solid #808080;
  //   border-left: 1px solid #808080;
  //   border-radius: 20px 20px 0px;
  //   line-height: 20px;
  //   padding-bottom: 8px;
  //   margin-top: 50px;
  // }

  // h4[id]:not(.dt):target:before {
  //   margin-top: -.9rem !important;
  //   padding-top: .9rem !important;
  // }
  // h2 {
  //   margin: 4rem 0 1.6rem;
  // }
  // h3 {
  //   margin: 3.2rem 0 1.6rem;
  // }
  // h4, h5, h6 {
  //   margin: 2rem 0 1.1rem;
  // }
  // blockquote, ol, p, ul {
  //   margin: 0.5em 0;
  // }
  ul {
    position: relative;
    list-style: none;
    margin-left: 1rem !important;

    li:before {
      content: "\25B9";
      position: absolute;
      left: 0rem;
      font-size: 2rem;
      line-height: 2.7rem;
    }
  }
}

table td {
  position: relative;
}

.md-typeset__table table td {
  padding: 0.4rem 0.8rem !important;
}

.md-typeset__table table th {
  padding: 0.8rem 0.8rem !important;
}

.md-typeset table:not([class]) th {
  min-width: 3rem;
}

table tr td:first-child {
  white-space: nowrap;
}

tr.targetted {
  background-color: #FFF9C4 !important;
}

tr:nth-child(even) {
  background-color: #efefef
}

// .md-typeset h2,
// .md-typeset h3 {
//   margin: 1.6rem 0 1.6rem;
// }

p.dt + ul {
  margin: 0 !important;
  margin-left: 150px !important;
  li {
    display: inline;
    padding-right: 3px;
    margin: 0 !important;

    &:not(:first-child):before {
      content: "\2022";
      padding-right: 5px;
    }
  }
}

.dt {
  color: #444;
}

i[f],
i[s] {
  font-family: 'Material Icons';
  font-style: normal;
  vertical-align: middle;
  line-height: 1.6;
}

i[s] {
  color: #00c853;

  &:before {
    content: "\E876";
  }
}

i[f] {
  color: #ff5252;

  &:before {
    content: "\E14C";
  }
}


blockquote.important {
  border-left: .4rem solid #3f51b5;
  color: rgba(0,0,0,.87);
}

table thead th {
  &:hover {
    cursor: pointer;
  }
}

.qs-one {
  font-style: normal;
}

.qs-one:after {
  content: "\E90E";
}
.qs-2ones:after {
  content: "\E90E \E90E";
}
.qs-3ones:after {
  content: "\E90E \E90E \E90E";
}

.qs-2d6:after,
.qstar-2sixes:after {
  content: "\E90F \E90F";
}
.qs-3d6:after,
.qstar-3sixes:after {
  content: "\E90F \E90F \E90F";
}

.qs-d6 {
  font-style: normal;

  &:after {
    content: "\E90F" !important;
  }
}

@media only screen and (min-width: 20em)  {
  div.dl-horizontal {
    dl {
      dt {
        float: left;
        width: 100px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 700;
      }

      dd {
        margin-left: 120px;
      }
    }
  }
}

@media only screen and (max-width: 20em)  {
  div.dl-horizontal {
    dl {
      dt {
        font-weight: 700;
      }
      dd {
        margin-left: 0;
      }
    }
  }
}

.md-typeset table:not([class]) thead tr th {
  font-weight: 700;
  background-color: rgba(0, 0, 0, .1);
  color: rgba(0,0,0,.87);

  border-bottom: 2px solid #3f51b5;
}

@media only screen and (min-width: 50em)  {
  div.qs-list-test.full-width {
    column-count: 1 !important;
  }

  div.qs-list-test {
    column-count: 2;
    column-gap: 25px;

    :target {
      display: block;
      position: relative;
      top: -5rem;
      visibility: hidden;

      + section {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    section {
      padding-top: 1em;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      z-index: 1;
      overflow: hidden;
      position: relative;

      h5 {
        float: left;
        width: 110px;
        padding-left: 0;
        text-align: right;

        line-height: 1.4;
        padding-top: 0.1em;

        letter-spacing: 0 !important;

        padding-top: 6rem;
        margin: 0;
        margin-top: -6rem;

        z-index: 0;
        position: relative;

        + p {
          margin: 0 !important;
          margin-left: 120px !important;
          margin-bottom: 0.15em !important;

          font-size: 1.4rem;
          line-height: 1.3;

          // border-bottom: 1px dashed #ddd;
        }

        a {
          display: none !important;
        }
      }

      dl {
        margin-top: 0;
        margin-bottom: -1px;

        padding-top: 2px;
        padding-bottom: 1em;

        clear: both;

        dt:first-of-type {
          margin: 0.15em 0 0.15em 0;
        }

        dt {
          float: left;
          width: 110px;
          text-align: right;

          letter-spacing: 0 !important;

          font-size: 1.3rem;
          line-height: 1.3;
          font-weight: bold;
        }
        dd {
          font-size: 1.3rem;
          line-height: 1.3;

          margin: 0.15em 0 0.15em 120px;
        }
      }
    }
  }
}

html {
  font-size: 77.5%;
  text-align: justify;
}

body, input {
  font-family: 'Zag', 'Roboto';
}

@media only screen and (min-width: 76.25em) {

  .md-content {
    margin-left: 242px;

    .md-content__inner {
      margin-right: 24px;
      margin-left: 24px;
    }

  }

  .md-sidebar--secondary {
    margin-left: 1220px;
  }
}

@media only screen and (min-width: 60em) {
  .md-content {
    margin-right: 242px;
  }
}

.md-sidebar {
  width: 242px;
  padding: 24px 0;
}

.md-content__inner {
  margin: 0 16px 24px;
}

.md-grid {
  max-width: 1222px;
}

strong,
.md-nav__title,
.admonition-title {
  letter-spacing: 1px;
}

.md-typeset {
  h2 {
    margin: 40px 0 16px;
  }
  h3 {
    margin: 32px 0 16px;
  }
  h4 {
    margin: 16px 0;
  }
}

.md-typeset {
  p {
    line-height: 1.5;
  }
}

.md-nav__link {
  margin-top: 0.4em;
}

.admonition {
  min-width: 310px;
}