@import "./modules/base";
@import "./modules/data-brackets";
@import "./modules/fonts";
@import "./modules/font";

@import "./modules/icons";
@import "./modules/perks-flaws";

@media print {
  a:after {
    content: none !important;
  }
  img:after {
    content: none !important;
  }
}

@media only screen and (min-width: 60em) {
  .md-content {
    margin-right: 242px;
  }
}

.md-sidebar {
  width: 242px;
  padding: 24px 0;
}

.md-content__inner {
  margin: 0 16px 24px;
}

.md-grid {
  max-width: 1222px;
}

strong,
.md-nav__title,
.admonition-title {
  letter-spacing: 1px;
}

.md-typeset {
  h2 {
    margin: 40px 0 16px;
  }
  h3 {
    margin: 32px 0 16px;
  }
  h4 {
    margin: 16px 0;
  }
}

.md-typeset {
  p {
    line-height: 1.5;
  }
}

.md-nav__link {
  margin-top: 0.4em;
}

.admonition {
  min-width: 310px;

  .admonition-title a {
    font-weight: 700;
  }
}

@media only screen and (min-width: 76.25em) {
  .md-tabs--active
    ~ .md-main
    .md-nav--primary
    > .md-nav__list
    > .md-nav__item--nested {
    display: block;
  }
}

@media only screen and (max-width: 60em) {
  .is-mobile {
    display: none;
  }
}

.clearfix {
  clear: both;
}

.md-typeset__table {
  table {
    th {
      padding: 0.8rem 0.8rem !important;

      &:hover {
        cursor: pointer;
      }
    }
    td {
      position: relative;
      padding: 0.4rem 0.8rem !important;
    }
    tr td:first-child {
      white-space: nowrap;
    }
    tr.targetted {
      background-color: #fff9c4 !important;
    }
    tr:nth-child(even) {
      background-color: #efefef;
    }
  }
  table:not([class]) th {
    min-width: 3rem;
  }
}

i[f],
i[s] {
  font-family: "Material Icons";
  font-style: normal;
  vertical-align: middle;
  line-height: 1.6;
}

i[s] {
  color: #00c853;

  &:before {
    content: "\E876";
  }
}

i[f] {
  color: #ff5252;

  &:before {
    content: "\E14C";
  }
}

blockquote.important {
  border-left: 0.4rem solid #3f51b5;
  color: rgba(0, 0, 0, 0.87);
}

.qs-one {
  font-style: normal;
}

.qs-one:after {
  content: "\E90E";
}
.qs-2ones:after {
  content: "\E90E \E90E";
}
.qs-3ones:after {
  content: "\E90E \E90E \E90E";
}

.qs-2d6:after,
.qstar-2sixes:after {
  content: "\E90F \E90F";
}
.qs-3d6:after,
.qstar-3sixes:after {
  content: "\E90F \E90F \E90F";
}

.qs-d6 {
  font-style: normal;

  &:after {
    content: "\E90F" !important;
  }
}

.md-typeset table:not([class]) thead tr th {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.87);

  border-bottom: 2px solid #3f51b5;
}

.md-typeset div.content {
  thead > tr > td {
    pointer-events: none;
  }
  tr:nth-child(even) {
    background-color: white;
  }
  tr:first-child td {
    border-top: 0.1rem solid #00000012;
  }

  tr > td {
    vertical-align: middle;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  tr > td:first-child {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: center;
    font-family: "Zag";
    font-weight: bold;
    font-size: 4rem;
  }
}

@media only screen and (min-width: 50em) {
  div.qs-list-test.full-width {
    column-count: 1 !important;
  }

  div.qs-list-test {
    position: relative;
    column-count: 2;

    :target {
      // display: block;
      position: relative;
      // top: -5rem;
      // visibility: hidden;

      + section {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    section {
      padding: 0.25em 0;
      padding-right: 12px;

      // padding-top: 0.4em;
      // padding-bottom: 0.2em;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      z-index: 1;
      overflow: hidden;
      position: relative;

      > div {
        width: calc(100% - 120px);
        margin-left: 120px;
      }
    }
  }
}

@media only screen and (min-width: 76.25em) {
  .md-content {
    margin-left: 242px;

    .md-content__inner {
      margin-right: 24px;
      margin-left: 24px;
    }
  }

  .md-sidebar--secondary {
    margin-left: 1220px;
  }
}

.qs-list-test {
  overflow: hidden;

  > div > a:first-of-type {
    margin-top: -50vh;
    padding-top: 50vh;
    display: block;
    pointer-events: none;
  }

  h5,
  p {
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }

  h5 {
    vertical-align: middle;
    text-align: right;
    width: 120px;
    padding: 0;
    letter-spacing: 0 !important;
    padding-right: 10px;
    line-height: 1.5;

    & > a {
      display: none !important;
    }

    & + p > em {
      color: rgba(0, 0, 0, 0.54);
      font-size: 1.5rem;
    }
  }

  p {
    width: calc(100% - 120px);
    margin-bottom: 0;
  }

  dl {
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 0;
    padding-bottom: 2px;

    line-height: 1.1;

    margin-block-start: 0;
    margin-block-end: 0.2em;

    dt,
    dd {
      display: inline-block;
      margin: 0.15em 0;
      vertical-align: top;
    }

    dt {
      letter-spacing: 0 !important;
      text-align: right;

      font-size: 1.3rem;
      line-height: 1;
      font-weight: bold;
      width: 110px;
    }

    dd {
      font-size: 1.3rem;
      line-height: 1;
      width: calc(100% - 120px);

      padding-left: 4px;

      + dd {
        margin-left: 120px;
      }
    }
  }

  &.full-width.p {
    p {
      width: 100%;
      text-indent: -120px;
      padding-left: 120px;
    }
  }

  &.full-width {
    strong.hf {
      display: inline-block;
      text-align: right;
      width: 110px;
      vertical-align: top;
      padding: 4px 0;
      letter-spacing: 0;

      color: rgba(0, 0, 0, 0.54);
      font-size: 1.28rem;
      line-height: 1.5;
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: 50em) {
  .left,
  .right {
    float: left;
    width: 50%;
  }
  .left {
    padding-right: 2%;
  }

  .right {
    padding-left: 2%;

    & + * {
      clear: both;
    }
  }

  .cols-wrapper {
    float: left;
    width: 50%;

    > section {
      padding-right: 2%;
      z-index: 1;
      overflow: hidden;
      position: relative;
    }
  }
}

.clearfix {
  clear: both;
}
