@charset "UTF-8";
html {
  font-size: 77.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
  text-align: justify;
}

body,
input {
  font-family: "Zag", "Roboto";
}

/**
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  body {
    font-weight: lighter;
  }
}

[data-bracket-bottom],
[data-bracket-top] {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 10px;
}

[data-bracket-bottom] {
  margin-bottom: 10px;
}

[data-bracket-bottom]:before {
  content: attr(data-bracket-bottom);
  position: absolute;
  top: 100%;
  font-size: 80%;
  padding: 5px;
  white-space: nowrap;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

[data-bracket-bottom]:after {
  content: "\25B5";
  display: block;
  height: 12px;
  position: absolute;
  left: -5px;
  right: 0;
  top: 15px;
}

[data-bracket-top]:before {
  content: "\25BF";
  display: block;
  height: 12px;
  position: absolute;
  top: -18px;
  left: -5px;
  right: 0;
}

[data-bracket-top]:after {
  content: attr(data-bracket-top);
  position: absolute;
  top: -34px;
  font-size: 80%;
  padding: 5px;
  white-space: nowrap;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.formula {
  text-align: center;
  margin: 10px 0;
}

.formula.formula-top {
  margin-top: 35px;
}

.formula.formula-bottom {
  margin-bottom: 35px;
}

.formula span {
  margin: 0 8px;
}

details,
.admonition {
  overflow: hidden !important;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) !important;
}

details .formula.formula-bottom,
.admonition .formula.formula-bottom {
  margin-bottom: 30px;
}

details .formula.formula-top,
.admonition .formula.formula-top {
  margin-top: 35px;
}

@font-face {
  font-family: "Zag";
  src: url("../_fonts/ZagRegular.woff2") format("woff2"), url("../_fonts/ZagRegular.woff") format("woff"), url("../_fonts/ZagRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zag";
  src: url("../_fonts/ZagBold.woff2") format("woff2"), url("../_fonts/ZagBold.woff") format("woff"), url("../_fonts/ZagBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.md-typeset:not(.md-search-result__item) strong.hf {
  font-family: "Zag";
  letter-spacing: 1px;
}

.md-typeset:not(.md-search-result__item) h1,
.md-typeset:not(.md-search-result__item) h2,
.md-typeset:not(.md-search-result__item) h3,
.md-typeset:not(.md-search-result__item) h4,
.md-typeset:not(.md-search-result__item) h5 {
  font-family: "Zag";
  letter-spacing: 2px;
  padding-left: 0;
  font-weight: normal;
}

.md-typeset:not(.md-search-result__item) h5:before {
  margin-top: -2.1rem;
  padding-top: 2.1rem;
}

.md-typeset:not(.md-search-result__item) h2 > a.headerlink {
  color: #efefef;
}

article.md-typeset:not(.md-search-result__item) > a.md-icon.md-content__icon {
  z-index: 2;
}

a:not(.headerlink)[href*="#"]:before {
  font-family: "game-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  margin-right: 5px;
  vertical-align: top;
}

a:not(.headerlink)[href*="#might"]:before {
  content: "";
}

a:not(.headerlink)[href*="#speed"]:before {
  content: "";
}

a:not(.headerlink)[href*="#intelligence"]:before {
  content: "";
}

a:not(.headerlink)[href*="#charisma"]:before {
  content: "";
}

a:not(.headerlink)[href*="#loot"]:before {
  content: "";
}

a:not(.headerlink)[href*="#spare-time"]:before {
  content: "";
}

a:not(.headerlink)[href*="#influence"]:before {
  content: "";
}

a:not(.headerlink)[href*="#resources"]:before {
  content: "";
}

a:not(.headerlink)[href*="#technology"]:before {
  content: "";
}

a:not(.headerlink)[href$="#d6"]:before {
  content: "";
}

.md-typeset:not(.md-search-result__item) div.perk dl {
  margin-top: 0;
  margin-bottom: -1px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.md-typeset:not(.md-search-result__item) div.perk dl dt {
  float: left;
  width: 110px;
  text-align: right;
  letter-spacing: 0 !important;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: bold;
}

.md-typeset:not(.md-search-result__item) div.perk dl dt:first-of-type {
  line-height: 1.8;
  letter-spacing: 0 !important;
  font-family: 'Mainframe-Opto';
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.28rem;
}

.md-typeset:not(.md-search-result__item) div.perk dl dd {
  font-size: 1.3rem;
  line-height: 1.3;
  margin: 0.15em 0 0.15em 120px;
}

.md-typeset:not(.md-search-result__item) div.perk dl dd:first-of-type {
  font-size: 1.4rem;
  line-height: 1.4;
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper :target {
  display: block;
  position: relative;
  top: -5rem;
  visibility: hidden;
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper :target + section {
  background-color: rgba(0, 0, 0, 0.1);
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper > section {
  padding-top: 1em;
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper h5 {
  float: left;
  width: 110px;
  padding-left: 0;
  text-align: right;
  line-height: 1.4;
  padding-top: 0.1em;
  letter-spacing: 0 !important;
  padding-top: 6rem;
  margin: 0;
  margin-top: -6rem;
  z-index: 0;
  position: relative;
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper h5 + p {
  margin: 0 !important;
  margin-left: 120px !important;
  margin-bottom: 0.15em !important;
  font-size: 1.4rem;
  line-height: 1.3;
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper h5 a {
  display: none !important;
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper dl {
  margin-top: 0;
  margin-bottom: -1px;
  padding-top: 2px;
  padding-bottom: 1em;
  clear: both;
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper dl dt:first-of-type {
  margin: 0.15em 0 0.15em 0;
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper dl dt {
  float: left;
  width: 110px;
  text-align: right;
  letter-spacing: 0 !important;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: bold;
}

.md-typeset:not(.md-search-result__item) div.qs-list + div.cols-wrapper dl dd {
  font-size: 1.3rem;
  line-height: 1.3;
  margin: 0.15em 0 0.15em 120px;
}

@media only screen and (min-width: 60em) {
  .md-content {
    margin-right: 242px;
  }
}

.md-sidebar {
  width: 242px;
  padding: 24px 0;
}

.md-content__inner {
  margin: 0 16px 24px;
}

.md-grid {
  max-width: 1222px;
}

strong,
.md-nav__title,
.admonition-title {
  letter-spacing: 1px;
}

.md-typeset h2 {
  margin: 40px 0 16px;
}

.md-typeset h3 {
  margin: 32px 0 16px;
}

.md-typeset h4 {
  margin: 16px 0;
}

.md-typeset p {
  line-height: 1.5;
}

.md-nav__link {
  margin-top: 0.4em;
}

.admonition {
  min-width: 310px;
}

.admonition .admonition-title a {
  font-weight: 700;
}

@media only screen and (min-width: 76.25em) {
  .md-tabs--active
~ .md-main
.md-nav--primary
> .md-nav__list
> .md-nav__item--nested {
    display: block;
  }
}

@media only screen and (max-width: 60em) {
  .is-mobile {
    display: none;
  }
}

.clearfix {
  clear: both;
}

.md-typeset__table table th {
  padding: 0.8rem 0.8rem !important;
}

.md-typeset__table table th:hover {
  cursor: pointer;
}

.md-typeset__table table td {
  position: relative;
  padding: 0.4rem 0.8rem !important;
}

.md-typeset__table table tr td:first-child {
  white-space: nowrap;
}

.md-typeset__table table tr.targetted {
  background-color: #fff9c4 !important;
}

.md-typeset__table table tr:nth-child(even) {
  background-color: #efefef;
}

.md-typeset__table table:not([class]) th {
  min-width: 3rem;
}

i[f],
i[s] {
  font-family: "Material Icons";
  font-style: normal;
  vertical-align: middle;
  line-height: 1.6;
}

i[s] {
  color: #00c853;
}

i[s]:before {
  content: "\E876";
}

i[f] {
  color: #ff5252;
}

i[f]:before {
  content: "\E14C";
}

blockquote.important {
  border-left: 0.4rem solid #3f51b5;
  color: rgba(0, 0, 0, 0.87);
}

.qs-one {
  font-style: normal;
}

.qs-one:after {
  content: "\E90E";
}

.qs-2ones:after {
  content: "\E90E \E90E";
}

.qs-3ones:after {
  content: "\E90E \E90E \E90E";
}

.qs-2d6:after,
.qstar-2sixes:after {
  content: "\E90F \E90F";
}

.qs-3d6:after,
.qstar-3sixes:after {
  content: "\E90F \E90F \E90F";
}

.qs-d6 {
  font-style: normal;
}

.qs-d6:after {
  content: "\E90F" !important;
}

.md-typeset table:not([class]) thead tr th {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 2px solid #3f51b5;
}

.md-typeset div.content thead > tr > td {
  pointer-events: none;
}

.md-typeset div.content tr:nth-child(even) {
  background-color: white;
}

.md-typeset div.content tr:first-child td {
  border-top: 0.1rem solid #00000012;
}

.md-typeset div.content tr > td {
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 1.5;
}

.md-typeset div.content tr > td:first-child {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
  text-align: center;
  font-family: "Zag";
  font-weight: bold;
  font-size: 4rem;
}

@media only screen and (min-width: 50em) {
  div.qs-list-test.full-width {
    -webkit-column-count: 1 !important;
            column-count: 1 !important;
  }
  div.qs-list-test {
    position: relative;
    -webkit-column-count: 2;
            column-count: 2;
  }
  div.qs-list-test :target {
    display: block;
    position: relative;
  }
  div.qs-list-test :target + section {
    background-color: rgba(0, 0, 0, 0.1);
  }
  div.qs-list-test section {
    padding-right: 12px;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    z-index: 1;
    overflow: hidden;
    position: relative;
  }
  div.qs-list-test section h5 {
    float: left;
    width: 110px;
    padding-left: 0;
    text-align: right;
    line-height: 1.4;
    letter-spacing: 0 !important;
    margin: 0;
    z-index: 0;
    position: relative;
  }
  div.qs-list-test section h5 + p {
    margin: 0 !important;
    margin-left: 120px !important;
    margin-bottom: 0.15em !important;
    font-size: 1.4rem;
    line-height: 1.3;
  }
  div.qs-list-test section h5 a {
    display: none !important;
  }
  div.qs-list-test section dl {
    margin-top: 0;
    margin-bottom: -1px;
    padding-top: 2px;
    padding-bottom: 2px;
    clear: both;
  }
  div.qs-list-test section dl dt:first-of-type {
    margin: 0.15em 0 0.15em 0;
  }
  div.qs-list-test section dl dt {
    float: left;
    width: 110px;
    text-align: right;
    letter-spacing: 0 !important;
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: bold;
  }
  div.qs-list-test section dl dd {
    font-size: 1.3rem;
    line-height: 1.3;
    margin: 0.15em 0 0.15em 120px;
  }
}

@media only screen and (min-width: 76.25em) {
  .md-content {
    margin-left: 242px;
  }
  .md-content .md-content__inner {
    margin-right: 24px;
    margin-left: 24px;
  }
  .md-sidebar--secondary {
    margin-left: 1220px;
  }
}

.qs-list-test.full-width h5,
.qs-list-test.full-width p {
  margin: 0.5em 0;
  display: inline-block;
}

.qs-list-test.full-width h5 {
  text-align: right;
  width: 110px;
  vertical-align: top;
  padding: 4px 0;
  letter-spacing: 0;
}

.qs-list-test.full-width h5 > a {
  display: none !important;
}

.qs-list-test.full-width p {
  width: calc(100% - 120px);
  margin-bottom: 0;
}

.qs-list-test.full-width dl {
  margin-top: 0;
  margin-bottom: -1px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.qs-list-test.full-width dl dt,
.qs-list-test.full-width dl dd {
  margin: 0.15em 0;
  display: inline-block;
}

.qs-list-test.full-width dl dt {
  letter-spacing: 0 !important;
  width: 110px;
  text-align: right;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: bold;
}

.qs-list-test.full-width dl dd {
  font-size: 1.3rem;
  line-height: 1.3;
  margin: 0.15em 0;
  padding-left: 4px;
}
/*# sourceMappingURL=extra.css.map */