@font-face {
  font-family: 'Mainframe-Opto';
  src: url("../fonts/Mainframe-Opto.eot?#iefix") format("embedded-opentype"), url("../fonts/Mainframe-Opto.woff") format("woff"), url("../fonts/Mainframe-Opto.ttf") format("truetype"), url("../fonts/Mainframe-Opto.svg#Mainframe-Opto") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
  font-family: 'Mainframe-Opto';
  letter-spacing: 0.3rem !important;
  padding-left: 5px;
}

h4 {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

[data-bracket-bottom],
[data-bracket-top] {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 10px;
}

[data-bracket-bottom] {
  margin-bottom: 10px;
}

[data-bracket-bottom]:before {
  content: attr(data-bracket-bottom);
  position: absolute;
  top: 100%;
  font-size: 80%;
  padding: 5px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

[data-bracket-bottom]:after {
  content: "";
  display: block;
  height: 6px;
  border: 2px solid black;
  border-top: none;
}

[data-bracket-top]:before {
  content: "";
  display: block;
  height: 6px;
  border: 2px solid black;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  border-bottom: none;
}

[data-bracket-top]:after {
  content: attr(data-bracket-top);
  position: absolute;
  top: -30px;
  font-size: 80%;
  padding: 5px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

.formula {
  text-align: center;
}

.formula.formula-top {
  margin-top: 55px;
}

.formula.formula-bottom {
  margin-bottom: 55px;
}

.formula span {
  margin: 0 8px;
}

.admonition .formula.formula-bottom {
  margin-bottom: 30px;
}

.admonition .formula.formula-top {
  margin-top: 40px;
}

table td {
  position: relative;
}

.md-typeset__table table td {
  padding: 0.4rem 0.8rem !important;
}

.md-typeset__table table th {
  padding: 0.8rem 0.8rem !important;
}

.md-typeset table:not([class]) th {
  min-width: 3rem;
}

table tr td:first-child {
  white-space: nowrap;
}

tr.targetted {
  background-color: #FFF9C4 !important;
}

tr:nth-child(even) {
  background-color: #efefef;
}

.admonition {
  overflow: hidden !important;
}

.md-typeset dd {
  margin: 0.1em 0 1em 1.875em;
}

p.dt + ul {
  margin: 0 !important;
  margin-left: 150px !important;
}

p.dt + ul li {
  display: inline;
  padding-right: 3px;
  margin: 0 !important;
}

p.dt + ul li:not(:first-child):before {
  content: "\2022";
  padding-right: 5px;
}

.dt {
  color: #444;
}

@media only screen and (min-width: 60em) {
  h4.dt,
  p.dt {
    float: left;
    width: 140px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 !important;
  }
  h4.dt + p,
  p.dt + p {
    margin: 0 !important;
    margin-left: 150px !important;
    margin-bottom: 0.3em !important;
  }
  p.dt {
    width: 180px;
  }
  p.dt + ul {
    margin-left: 190px !important;
  }
  h4.dt {
    margin-top: -3em !important;
    padding-top: 3em !important;
  }
  h4.dt + p {
    padding-top: 0.4em !important;
  }
  h4.dt a {
    display: none !important;
  }
}

.md-typeset h2 {
  margin: 2rem 0 0.8rem;
}

.md-typeset h3 {
  margin: 1.6rem 0 0.8rem;
}

.md-typeset h4, .md-typeset h5, .md-typeset h6 {
  margin: 1.1rem 0;
}

.md-typeset blockquote, .md-typeset ol, .md-typeset p, .md-typeset ul {
  margin: 0.5em 0;
}

html {
  font-size: 62.5%;
}

i[f],
i[s] {
  font-family: 'Material Icons';
  font-style: normal;
  vertical-align: middle;
  line-height: 1.6;
}

i[s] {
  color: #00c853;
}

i[s]:before {
  content: "\E876";
}

i[f] {
  color: #ff5252;
}

i[f]:before {
  content: "\E14C";
}

*:not(.md-search-result__item) > h2#might-skills,
*:not(.md-search-result__item) > h2#speed-skills,
*:not(.md-search-result__item) > h2#intelligence-skills,
*:not(.md-search-result__item) > h2#charisma-skills {
  z-index: 1;
  padding-top: 1em;
  margin-bottom: 0.8rem;
}

*:not(.md-search-result__item) > a[href="./equipment"]:after,
*:not(.md-search-result__item) > a[href*="#"]:after {
  font-family: "game-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  margin-left: 2px;
  vertical-align: top;
}

*:not(.md-search-result__item) > h3#endurance:after,
*:not(.md-search-result__item) > h4#endurance:after,
*:not(.md-search-result__item) > a[href*="#endurance"]:after {
  content: "\EB5C";
}

*:not(.md-search-result__item) > h3#health:after,
*:not(.md-search-result__item) > a[href*="#health"]:after {
  content: "\E4B0";
}

*:not(.md-search-result__item) > h3#perks:after,
*:not(.md-search-result__item) > a[href$="#perks"]:after {
  content: "\E78F";
}

*:not(.md-search-result__item) > h3#flaws:after,
*:not(.md-search-result__item) > a[href*="#flaws"]:after {
  content: "\E840";
}

*:not(.md-search-result__item) > h3#might:after,
*:not(.md-search-result__item) > h2#might-skills:after,
*:not(.md-search-result__item) > a[href*="#might"]:after {
  content: "\E696";
}

*:not(.md-search-result__item) > h3#speed:after,
*:not(.md-search-result__item) > h2#speed-skills:after,
*:not(.md-search-result__item) > a[href*="#speed"]:after {
  content: "\E543";
}

*:not(.md-search-result__item) > h3#intelligence:after,
*:not(.md-search-result__item) > h2#intelligence-skills:after,
*:not(.md-search-result__item) > a[href*="#intelligence"]:after {
  content: "\E5E6";
}

*:not(.md-search-result__item) > h3#charisma:after,
*:not(.md-search-result__item) > h2#charisma-skills:after,
*:not(.md-search-result__item) > a[href*="#charisma"]:after {
  content: "\E6CC";
}

*:not(.md-search-result__item) > a[href$="#dmg-damage"]:after,
*:not(.md-search-result__item) > a[href$="#damage"]:after {
  content: "\E1E8";
}

*:not(.md-search-result__item) > a[href*="#crit-critical"]:after,
*:not(.md-search-result__item) > a[href*="#critical-damage"]:after {
  content: "\E5E2";
}

*:not(.md-search-result__item) > h3#damage-reduction:after,
*:not(.md-search-result__item) > a[href*="#DR"]:after,
*:not(.md-search-result__item) > a[href*="#damage-reduction"]:after {
  content: "\E023";
}

*:not(.md-search-result__item) > h4#hit,
*:not(.md-search-result__item) > a[href*="#hit"]:after,
*:not(.md-search-result__item) > a[href*="#attack"]:after {
  content: "\E8AA";
}

*:not(.md-search-result__item) > a[href*="#rof"]:after,
*:not(.md-search-result__item) > a[href*="rof#stats"]:after {
  content: "\E1DA";
}

*:not(.md-search-result__item) > a[href*="#cap-capacity"]:after {
  content: "\E1B6";
}

*:not(.md-search-result__item) > a[href*="reload#stats"]:after {
  content: "\E094";
}

*:not(.md-search-result__item) > h1#skills:after,
*:not(.md-search-result__item) > h2#skills:after,
*:not(.md-search-result__item) > h2#available-skills:after,
*:not(.md-search-result__item) > a[href*="#skills"]:after {
  content: "\E71A";
}

*:not(.md-search-result__item) > a[href^="./equipment"]:after {
  content: "\E77F";
}

*:not(.md-search-result__item) > h2#armour:after,
*:not(.md-search-result__item) > a[href*="#armour"]:after {
  content: "\EA22";
}

*:not(.md-search-result__item) > h3#turn-order:after,
*:not(.md-search-result__item) > h4#turn-order:after,
*:not(.md-search-result__item) > a[href*="#turn-order"]:after {
  content: "\E385";
}

*:not(.md-search-result__item) > .qs-cr {
  font-style: normal;
}

*:not(.md-search-result__item) > .qs-cr:after {
  content: "\E8D7";
}

.qstar-2ones:after {
  content: "\E90E \E90E";
}

.qstar-2sixes:after {
  content: "\E90F \E90F";
}

h1 {
  position: relative !important;
}

h1:after {
  font-family: "game-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  margin-left: 0.5rem !important;
  vertical-align: top;
}

h1 > a {
  position: absolute;
  right: 0;
}

h1 > a:after {
  content: "" !important;
}

h2 {
  position: relative !important;
}

h2:after {
  font-family: "game-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  margin-left: 0.5rem !important;
  vertical-align: top;
}

h2 > a {
  position: absolute;
  right: 0;
}

h2 > a:after {
  content: "" !important;
}

h3 {
  position: relative !important;
}

h3:after {
  font-family: "game-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  margin-left: 0.5rem !important;
  vertical-align: top;
}

h3 > a {
  position: absolute;
  right: 0;
}

h3 > a:after {
  content: "" !important;
}

h4 {
  position: relative !important;
}

h4:after {
  font-family: "game-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  margin-left: 0.5rem !important;
  vertical-align: top;
}

h4 > a {
  position: absolute;
  right: 0;
}

h4 > a:after {
  content: "" !important;
}
/*# sourceMappingURL=extra.css.map */