[data-bracket-bottom] {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
}

[data-bracket-bottom]:after {
  content: "";
  display: block;
  height: 6px;
  border: 2px solid black;
  border-top: none;
}

[data-bracket-bottom]:before {
  content: attr(data-bracket-bottom);
  position: absolute;
  top: 100%;
  font-size: 80%;
  padding: 5px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%)
}

[data-bracket-top] {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 10px;
}

[data-bracket-top]:before {
  content: "";
  display: block;
  height: 6px;
  border: 2px solid black;
  position: absolute;
  bottom: 100%;
  left:0;
  right:0;
  border-bottom: none;
}

[data-bracket-top]:after {
  content: attr(data-bracket-top);
  position: absolute;
  top:-30px;
  font-size: 80%;
  padding: 5px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%)
}


.formula {
  text-align: center;
}

.formula-top {
  margin-top: 55px;
}

.formula-bottom {
  margin-bottom: 55px;
}

.formula span {
  margin: 0 8px;
}

.admonition .formula-bottom {
  margin-bottom: 30px;
}
.admonition .formula-top {
  margin-top: 40px;
}

[class*='ehicon-'] {
  margin-right: 5px;
  color: #404040;
}

.fa-2x {
  vertical-align: middle;
}

.toctree-l4:before {
  content: " — ";
  padding: 0 5px;
}

table td {
  position: relative;
}

img.ehicon {
  display: inline-block;
  border-radius: 0.2rem;
  height: 1em !important;
}

table img.ehicon {
  position: absolute;
  top: 0.4rem;
}

img.ehicon-2x {
  height: 2em !important;
}
@media screen and (max-width: 768px) {
  body img.ehicon {
    border-radius: 3px;
    width: auto;
  }
}

.md-typeset__table table td {
  padding: 0.4rem 0.8rem !important;
}

.md-typeset__table table th {
  padding: 0.8rem 0.8rem !important;
}

.md-typeset table:not([class]) th {
  min-width: 3rem;
}

table tr td:first-child {
  white-space: nowrap;
}

tr.targetted {
  background-color: #FFF9C4 !important;
}

tr:nth-child(even) {
  background-color: #efefef
}

.md-typeset h2,
.md-typeset h3 {
  margin: 1.6rem 0 1.6rem;
}

.admonition  {
  overflow: hidden !important;
}

.md-typeset dd {
  margin: 0.1em 0 1em 1.875em
}

[id$="-skills"] {
  clear: both;
}

[id$="-skills"] ~ h4 {
  width: 140px;
  text-align: right;
}

[id$="-skills"] ~ p {
  padding-left: 1rem;
}

[id$="-skills"] ~ h4 ~ p {
  width: calc(100% - 140px);
}

[id$="-skills"] ~ h4,
[id$="-skills"] ~ p {
  vertical-align: top;
  float: left;
}

[id$="-skills"] ~ h4,
[id$="-skills"] ~ p,
#weapons ~ #stats ~ h4,
#weapons ~ #stats ~ p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#weapons ~ #stats ~ p {
  padding-left: 2rem;
}

html {
  font-size: 62.5%;
}

i[f],
i[s] {
  font-family: 'Material Icons';
  font-style: normal;
  vertical-align: middle;
  line-height: 1.6;
}

i[s] {
  color: #00c853;
}
i[s]::before {
  content: "\E876";
}

i[f] {
  color: #ff5252;
}
i[f]::before {
  content: "\E14C";
}


a[href="./equipment"]:after,
a[href*="#"]:after {
  font-family: "game-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  margin-left: 4px;
  vertical-align: top;
}

h2 > a:after,
h3 > a:after,
h4 > a:after {
  content: "" !important;
}

a[href*="#endurance"]:after {
  content: "\EB5C";
}

a[href*="#health"]:after {
  content: "\E4B0";
}

a[href$="#perks"]:after {
  content: "\E78F";
}

a[href*="#flaws"]:after {
  content: "\E840";
}

a[href*="#might"]:after {
  content: "\E696";
}

a[href*="#speed"]:after {
  content: "\E543";
}

a[href*="#intelligence"]:after {
  content: "\E5E6";
}

a[href*="#charisma"]:after {
  content: "\E6CC";
}

a[href*="#dmg-damage"]:after,
a[href*="#damage"]:after {
  content: "\E1E8";
}

a[href*="#crit-critical"]:after,
a[href*="#critical-damage"]:after {
  content: "\E5E2";
}

a[href*="#DR"]:after,
a[href*="#damage-reduction"]:after {
  content: "\E023";
}

a[href*="#hit"]:after,
a[href*="#attack"]:after {
  content: "\E8AA";
}

a[href*="#rof"]:after,
a[href*="rof#stats"]:after {
  content: "\E1DA";
}

a[href*="#cap-capacity"]:after {
  content: "\E1B6";
}

a[href*="reload#stats"]:after {
  content: "\E094";
}

a[href*="#skills"]:after {
  content: "\E71A";
}

a[href^="./equipment"]:after {
  content: "\E77F";
}
