@font-face {
  font-family: 'Mainframe-Opto';
  src:
    url('../fonts/Mainframe-Opto.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mainframe-Opto.woff') format('woff'),
    url('../fonts/Mainframe-Opto.ttf')  format('truetype'),
    url('../fonts/Mainframe-Opto.svg#Mainframe-Opto') format('svg');
  font-weight: normal;
  font-style: normal;
}

nav.md-nav--primary > ul.md-nav__list > li:not(:first-child) {
  padding-top: 2rem;
}

.md-header-nav__button.md-logo {
  margin: 0;
}

@media only screen and (min-width: 60em)  {
  .cols-wrapper {
    float: left;
    width: 48%;
    margin-right: 2%;
      //   column-count: 2;
  //   column-gap: 25px;

  //   & > div {
  //     display: inline-block;
  //     width: 100%;
  //     -webkit-column-break-inside: avoid;
  //     page-break-inside: avoid;
  //     break-inside: avoid;
  //   }
  }
  .cols-wrapper-right {
    margin-right: 0;
    margin-left: 2%;
  }
}

.clearfix {
  clear: both;
}

.tag {
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  background-color: #3f51b5;
  border-radius: 2px;
  font-style: normal;
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 4px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1[id]:target:before {
  margin-top: -5.8rem;
  padding-top: 5.8rem;
}
h1[id]:before {
  display: block;
  margin-top: -.8rem;
  padding-top: .8rem;
  content: "";
}

.md-typeset:not(.md-search-result__item) {
  strong.hf {
    /* header-font */
    font-family: 'Mainframe-Opto';
    letter-spacing: 0.1rem;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Mainframe-Opto';
    letter-spacing: 0.3rem;
    padding-left: 10px;
  }

  h4:not(.dt) {
    // border-top: 2px solid grey;
    border-bottom: 2px solid grey;
  }
  // h2 {
  //   margin: 4rem 0 1.6rem;
  // }
  // h3 {
  //   margin: 3.2rem 0 1.6rem;
  // }
  // h4, h5, h6 {
  //   margin: 2rem 0 1.1rem;
  // }
  // blockquote, ol, p, ul {
  //   margin: 0.5em 0;
  // }
  ul {
    position: relative;
    list-style: none;
    margin-left: 1rem !important;

    li:before {
      content: "\25B9";
      position: absolute;
      left: 0rem;
      font-size: 2rem;
      line-height: 2.7rem;
    }
  }
}

[data-bracket-bottom],
[data-bracket-top] {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 10px;
}

[data-bracket-bottom] {
  margin-bottom: 10px;

  &:before {
    content: attr(data-bracket-bottom);
    position: absolute;
    top: 100%;
    font-size: 80%;
    padding: 5px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%)
  }

  &:after {
    content: "\25B5";
    display: block;
    height: 12px;
    position: absolute;
    left:0;
    right:0;
    top: 13px;
    // border: 1px solid #444;
    // border-top: none;
  }
}

[data-bracket-top] {
  &:before {
    content: "\25BF";
    display: block;
    height: 12px;
    // border: 1px solid #444;
    position: absolute;
    top: -15px;
    left: -2px;
    right:0;
    // border-bottom: none;
  }

  &:after {
    content: attr(data-bracket-top);
    position: absolute;
    top:-30px;
    font-size: 80%;
    padding: 5px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%)
  }
}

.formula {
  text-align: center;
  margin: 10px 0;

  &.formula-top {
    margin-top: 35px;
  }

  &.formula-bottom {
    margin-bottom: 35px;
  }

  span {
    margin: 0 8px;
  }
}

details,
.admonition {
  overflow: hidden !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) !important;

  .formula.formula-bottom {
    margin-bottom: 30px;
  }
  .formula.formula-top {
    margin-top: 35px;
  }
}

table td {
  position: relative;
}

.md-typeset__table table td {
  padding: 0.4rem 0.8rem !important;
}

.md-typeset__table table th {
  padding: 0.8rem 0.8rem !important;
}

.md-typeset table:not([class]) th {
  min-width: 3rem;
}

table tr td:first-child {
  white-space: nowrap;
}

tr.targetted {
  background-color: #FFF9C4 !important;
}

tr:nth-child(even) {
  background-color: #efefef
}

// .md-typeset h2,
// .md-typeset h3 {
//   margin: 1.6rem 0 1.6rem;
// }

.md-typeset dd {
  margin: 0.1em 0 1em 1.875em
}

p.dt + ul {
  margin: 0 !important;
  margin-left: 150px !important;
  li {
    display: inline;
    padding-right: 3px;
    margin: 0 !important;

    &:not(:first-child):before {
      content: "\2022";
      padding-right: 5px;
    }
  }
}

.dt {
  color: #444;
}

@media only screen and (min-width: 60em) {
  .md-typeset:not(.md-search-result__item) {
    h5.dt {
      float: left;
      width: 110px;
      padding-left: 0;
      text-align: right;

      line-height: 2;

      letter-spacing: 0 !important;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      margin: 0 !important;

      + p {
        margin: 0 !important;
        margin-left: 120px !important;
        margin-bottom: 0.5em !important;
      }

      a {
        display: none !important;
      }
    }
  }
}

html {
  font-size: 62.5%;
}

i[f],
i[s] {
  font-family: 'Material Icons';
  font-style: normal;
  vertical-align: middle;
  line-height: 1.6;
}

i[s] {
  color: #00c853;

  &:before {
    content: "\E876";
  }
}

i[f] {
  color: #ff5252;

  &:before {
    content: "\E14C";
  }
}

*:not(.md-search-result__item) > {
  *#might-skills,
  *#speed-skills,
  *#intelligence-skills,
  *#charisma-skills {
    z-index: 1;
    padding-top: 1em;
    margin-bottom: 0.8rem;
  }


  a[href="./equipment"]:after,
  a[href*="#"]:after {
    font-family: "game-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    margin-left: 2px;
    vertical-align: top;
  }

  *#endurance:after,
  a[href*="#endurance"]:after {
    content: "\EB5C";
  }

  *#health:after,
  a[href*="#health"]:after {
    content: "\E4B0";
  }

  *[id*="perks"]:after,
  a[href*="#perks"]:after {
    content: "\E78F";
  }

  *#flaws:after,
  a[href*="#flaws"]:after {
    content: "\E840";
  }

  *#might:after,
  *#might-skills:after,
  a[href*="#might"]:after {
    content: "\E696";
  }

  *#speed:after,
  *#speed-skills:after,
  a[href*="#speed"]:after {
    content: "\E543";
  }

  *#intelligence:after,
  *#intelligence-skills:after,
  a[href*="#intelligence"]:after {
    content: "\E5E6";
  }

  *#charisma:after,
  *#charisma-skills:after,
  a[href*="#charisma"]:after {
    content: "\E6CC";
  }

  a[href$="#dmg-damage"]:after,
  a[href$="#damage"]:after {
    content: "\E1E8";
  }

  a[href*="#crit-critical"]:after,
  a[href*="#critical-damage"]:after {
    content: "\E5E2";
  }

  h3#damage-reduction:after,
  a[href*="#DR"]:after,
  a[href*="#damage-reduction"]:after {
    content: "\E023";
  }

  h4#hit,
  a[href*="#hit"]:after,
  a[href*="#attack"]:after {
    content: "\E8AA";
  }

  a[href*="#rof"]:after,
  a[href*="rof#stats"]:after {
    content: "\E1DA";
  }

  a[href*="#cap-capacity"]:after {
    content: "\E1B6";
  }

  a[href*="reload#stats"]:after {
    content: "\E094";
  }

  *#skills:after,
  *#available-skills:after,
  a[href*="#skills"]:after {
    content: "\E71A";
  }

  a[href^="./equipment"]:after {
    content: "\E77F";
  }

  *#armour:after,
  a[href*="#armour"]:after {
    content: "\EA22";
  }

  *#turn-order:after,
  a[href*="#turn-order"]:after {
    content: "\E385";
  }

  .qs-cr {
    font-style: normal;
    &:after {
      content: "\E8D7";
    }
  }
}


.qstar-2ones:after {
  content: "\E90E \E90E";
}

.qstar-2sixes:after {
  content: "\E90F \E90F";
}

.qs-d6:after {
  content: "\E90F" !important;
}

$headers: h1, h2, h3, h4, h5;

@each $header in $headers {
  #{$header} {
    position: relative !important;
  }

  #{$header}:after {
    font-family: "game-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    margin-left: 0.5rem !important;
    vertical-align: top;
  }

  #{$header} > a {
    position: absolute;
    right: 0;
    &:after {
      content: "" !important;
    }
  }
}
