@import './modules/icons';
@import './modules/perks-flaws';
@import './modules/data-brackets';

a[href*="example-"] {
  display: none;
}

@font-face {
  font-family: 'Mainframe-Opto';
  src:
    url('../fonts/Mainframe-Opto.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mainframe-Opto.woff') format('woff'),
    url('../fonts/Mainframe-Opto.ttf')  format('truetype'),
    url('../fonts/Mainframe-Opto.svg#Mainframe-Opto') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width: 76.25em) {
  .md-tabs--active~.md-main .md-nav--primary>.md-nav__list>.md-nav__item--nested {
    display: block;
  }
}

nav.md-nav--primary > ul.md-nav__list > li:not(:first-child) {
  padding-top: 2rem;
}

.md-header-nav__button.md-logo {
  margin: 0;
}

.md-typeset dd {
  margin: 0.1em 0 0.2em 1.875em;
}

@media only screen and (max-width: 60em)  {
  .is-mobile {
    display: none;
  }
}

@media only screen and (min-width: 50em)  {
  .left {
    // display: inline-block;
    float: left;
    width: 48%;
    padding-right: 2%;
  }

  .right {
    float: left;
    width: 48%;
    padding-left: 2%;

    & + * {
      clear: both;
    }
  }

  .cols-wrapper {
    float: left;
    width: 48%;
    margin-right: 2%;
      //   column-count: 2;
  //   column-gap: 25px;

  //   & > div {
  //     display: inline-block;
  //     width: 100%;
  //     -webkit-column-break-inside: avoid;
  //     page-break-inside: avoid;
  //     break-inside: avoid;
  //   }
  }
  .cols-wrapper-right {
    margin-right: 0;
    margin-left: 2%;
  }
}

.clearfix {
  clear: both;
}

.tag {
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  background-color: #3f51b5;
  border-radius: 2px;
  font-style: normal;
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 4px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1[id]:target:before {
  margin-top: -5.8rem;
  padding-top: 5.8rem;
}
h1[id]:before {
  display: block;
  margin-top: -.8rem;
  padding-top: .8rem;
  content: "";
}

.md-typeset:not(.md-search-result__item) {
  strong.hf {
    /* header-font */
    font-family: 'Mainframe-Opto';
    letter-spacing: 0.1rem;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Mainframe-Opto';
    letter-spacing: 0.3rem;
    padding-left: 10px;
  }

  h4:not(.dt) {
    // border-top: 2px solid grey;
    border-bottom: 2px solid grey;
  }
  // h2 {
  //   margin: 4rem 0 1.6rem;
  // }
  // h3 {
  //   margin: 3.2rem 0 1.6rem;
  // }
  // h4, h5, h6 {
  //   margin: 2rem 0 1.1rem;
  // }
  // blockquote, ol, p, ul {
  //   margin: 0.5em 0;
  // }
  ul {
    position: relative;
    list-style: none;
    margin-left: 1rem !important;

    li:before {
      content: "\25B9";
      position: absolute;
      left: 0rem;
      font-size: 2rem;
      line-height: 2.7rem;
    }
  }
}

table td {
  position: relative;
}

.md-typeset__table table td {
  padding: 0.4rem 0.8rem !important;
}

.md-typeset__table table th {
  padding: 0.8rem 0.8rem !important;
}

.md-typeset table:not([class]) th {
  min-width: 3rem;
}

table tr td:first-child {
  white-space: nowrap;
}

tr.targetted {
  background-color: #FFF9C4 !important;
}

tr:nth-child(even) {
  background-color: #efefef
}

// .md-typeset h2,
// .md-typeset h3 {
//   margin: 1.6rem 0 1.6rem;
// }

p.dt + ul {
  margin: 0 !important;
  margin-left: 150px !important;
  li {
    display: inline;
    padding-right: 3px;
    margin: 0 !important;

    &:not(:first-child):before {
      content: "\2022";
      padding-right: 5px;
    }
  }
}

.dt {
  color: #444;
}




html {
  font-size: 62.5%;
}

i[f],
i[s] {
  font-family: 'Material Icons';
  font-style: normal;
  vertical-align: middle;
  line-height: 1.6;
}

i[s] {
  color: #00c853;

  &:before {
    content: "\E876";
  }
}

i[f] {
  color: #ff5252;

  &:before {
    content: "\E14C";
  }
}

.qstar-2ones:after {
  content: "\E90E \E90E";
}

.qs-2d6:after,
.qstar-2sixes:after {
  content: "\E90F \E90F";
}

.qs-d6:after {
  content: "\E90F" !important;
}

blockquote.important {
  border-left: .4rem solid #3f51b5;
  color: rgba(0,0,0,.87);
}

table thead th {
  &:hover {
    cursor: pointer;
  }
}