.md-typeset:not(.md-search-result__item) {
  strong.hf {
    font-family: "Zag";
    letter-spacing: 1px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Zag";
    letter-spacing: 2px;
    padding-left: 0;
    font-weight: normal;
  }

  h5:before {
    margin-top: -2.1rem;
    padding-top: 2.1rem;
  }

  h1,
  h2 {
    font-family: "Earth Orbiter";
    text-align: center !important;
  }

  h2 {
    border-radius: 50px;
    padding-left: 20px !important;
  }

  h3 {
    text-align: left !important;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  h4 {
    margin-bottom: 0;
  }
}

article.md-typeset:not(.md-search-result__item) > a.md-icon.md-content__icon {
  z-index: 2;
}

.md-typeset p,
.md-typeset ul,
.md-typeset ol,
.md-typeset blockquote {
  margin: 0 0 0.5em 0;
}

.md-typeset .admonition > p.admonition-title {
  margin-bottom: 0.5em;
}
