@font-face {
  font-family: 'Mainframe';
  src: url('/qstar/_fonts/Mainframe-Opto.woff2') format('woff2'),
      url('/qstar/_fonts/Mainframe-Opto.woff') format('woff'),
      url('/qstar/_fonts/Mainframe-Opto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zag';
  src: url('/qstar/_fonts/ZagRegular.woff2') format('woff2'),
      url('/qstar/_fonts/ZagRegular.woff') format('woff'),
      url('/qstar/_fonts/ZagRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zag';
  src: url('/qstar/_fonts/ZagBold.woff2') format('woff2'),
      url('/qstar/_fonts/ZagBold.woff') format('woff'),
      url('/qstar/_fonts/ZagBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

