html {
  font-size: 77.5%;
}

body, input {
  font-family: 'Zag', 'Roboto';
}

.md-typeset:not(.md-search-result__item) {
  strong.hf {
    font-family: 'Zag';
    letter-spacing: 1px;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Zag';
    letter-spacing: 2px;
    padding-left: 0;
    font-weight: normal;
  }
}
