.md-typeset:not(.md-search-result__item) {
  strong.hf {
    font-family: "Zag";
    letter-spacing: 1px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Zag";
    letter-spacing: 2px;
    padding-left: 0;
    font-weight: normal;
  }

  h5:before {
    margin-top: -2.1rem;
    padding-top: 2.1rem;
  }

  h2 {
    & > a.headerlink {
      color: #efefef;
    }
  }
}

article.md-typeset:not(.md-search-result__item) > a.md-icon.md-content__icon {
  z-index: 2;
}
