@import "../game-icons";

@mixin game-icon {
  font-family: "game-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  margin-right: 5px;
  vertical-align: middle;
}

a:not(.headerlink) {
  &[href*="#"]:before {
    @include game-icon;
  }

  &[href*="#attributes"]:before {
    @extend .game-icon-anatomy;
  }

  &[href*="#body"]:before,
  &[href*="#action"]:before {
    @extend .game-icon-biceps;
  }

  &[href*="#mind"]:before,
  &[href$="#knowledge"]:before {
    @extend .game-icon-brain;
  }

  &[href*="#soul"]:before,
  &[href*="#social"]:before {
    @extend .game-icon-minions;
  }

  &[href*="#loot-loot"]:before {
    @extend .game-icon-wooden-crate;
  }

  &[href*="#spare-time"]:before {
    @extend .game-icon-stopwatch;
  }

  &[href*="#influence"]:before {
    @extend .game-icon-shaking-hands;
  }

  &[href*="#resources"]:before {
    @extend .game-icon-gear-hammer;
  }

  &[href*="#technology"]:before {
    @extend .game-icon-erlenmeyer;
  }

  &[href$="#skills"]:before {
    @extend .game-icon-gears;
  }

  &[href*="#action-points"]:before {
    @extend .game-icon-electric;
  }

  &[href*="#damage-type-physical"]:before {
    @extend .game-icon-drop;
  }
  &[href*="#damage-type-fire"]:before {
    @extend .game-icon-flame;
  }
  &[href*="#damage-type-frost"]:before {
    @extend .game-icon-thermometer-cold;
  }
  &[href*="#damage-type-biohazard"]:before {
    @extend .game-icon-biohazard;
  }
  &[href*="#race"]:before {
    @extend .game-icon-dna1;
  }
  &[href$="/equipment"]:before {
    @include game-icon;
    @extend .game-icon-backpack;
  }

  &[href*="#raises"]:before {
    @extend .game-icon-dna1;
    font-family: "Zag";
    content: "↑";
    vertical-align: middle;
  }

  // &[href$="/flaws/"]:before {
  //   @include game-icon;
  //   @extend .game-icon-broken-bone;
  // }
  // &[href$="/perks/"]:before {
  //   @include game-icon;
  //   @extend .game-icon-present;
  // }
}

*:not(.md-search-result__item) > {
  a[href$="#d4"],
  a[href$="#d6"],
  a[href$="#d8"],
  a[href$="#d10"],
  a[href$="#d100"],
  a[href$="#d12"] {
    color: #222 !important;
    pointer-events: none;
    cursor: default;
  }

  a[href$="#d4"]:before,
  a[href$="#d6"]:before,
  a[href$="#d8"]:before,
  a[href$="#d10"]:before,
  a[href$="#d100"]:before,
  a[href$="#d12"]:before {
    font-family: "game-icons";
    color: #222;
    vertical-align: middle;
  }

  a[href$="#d4"] {
    @extend .game-icon-d4;
  }

  a[href$="#d6"]:before {
    @extend .game-icon-perspective-dice-six;
  }

  a[href$="#d8"]:before {
    @extend .game-icon-dice-eight-faces-eight;
  }

  a[href$="#d10"]:before {
    @extend .game-icon-d10;
  }

  a[href$="#d12"]:before {
    @extend .game-icon-d12;
  }

  a[href$="#d100"]:before {
    @extend .game-icon-rolling-dices;
  }
}
